services:
  app:
    build: .
    ports:
      - "8080:5173"
    volumes:
      - .:/app
      - node_data:/app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
    develop:
      watch:
        - action: sync
          path: .
          target: /app
          ignore:
            - node_modules/
        - action: rebuild
          path: package.json

volumes:
  node_data: